input.text, textarea.textarea, select.select {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
resize: none;
border-color: #9ca0a2;
}

input.text, select.select {
height: 40px;
}



input.btTxt {
    padding: 25px 25px;
    font-family: "Source Sans Pro";
	font-size: 30px !important;
	font-weight: bold;
    width: 100%;
    color: #1f1400;
    background-color: #fcc019;
    border: 1px solid #e3ad17;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input.btTxt:hover {
  background: #e9ac03;
}


form li.error {
    background: #ffe8dd !important;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border: 1px solid #ee4900 !important;
	padding: 15px;
	margin-top:10px;
}

#errorLi, .error-container {
	border:none;
	background: #ffe8dd !important;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border: 1px solid #ee4900 !important;

}


form li.error .desc {
    color: #ee4900 !important;

}

form p.error {
	font-size: 12px;
    color: #ee4900 !important;
}

form span.req {
	color: #ee4900 !important;
}

#errorMsgLbl {
	color: #ee4900 !important;
}

#errorMsg {
	margin-top: 15px;
}

#errorMsg b {
    background: none !important;
    color: #ee4900 !important;
    border: 1px solid #ee4900 !important;    
    border-radius: 5px;
}