@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular.eot');
    src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
         url('../fonts/LatoRegular.woff2') format('woff2'),
         url('../fonts/LatoRegular.woff') format('woff'),
         url('../fonts/LatoRegular.ttf') format('truetype'),
         url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
}

.container
{
	max-width: 1140px;
    width: 940px;
}
.logo
{
	width:100%;
	height:auto;
	float:left;
}
.margin_top165
{
	margin-top:165px;
}
.margin_bottom165
{
	margin-bottom:165px;
}
.margin_top10
{
	margin-top:10px;
}
.margin_top15
{
	margin-top:15px;
}
.margin_bottom15
{
	margin-bottom:15px;
}
.menu
{
	width:100%;
	height:auto;
	float:left;
}
.navbar-collapse.collapse
{
	padding:0px;
}
.navbar-default
{
    margin-bottom:0px;
    background-color:#fff;
	border:none;
	border-radius:0px;
}
.nav.navbar-nav a
{
    color:#545454 !important;
    font-family: 'LatoRegular';
    padding-left:18px;
    padding-right:18px;
	font-size: 16px;
    font-weight: bold;
    text-shadow: none;
}

.nav.navbar-nav a:hover
{
    color:#fff !important;
    background-color:#3498db !important;
	border-radius:25px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover
{
	background-color:#434343;
}
.banner
{
	width:100%;
	height:auto;
	float:left;
	background-image:url(../images/bg-1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.banner_text
{
	font-family: 'LatoRegular';
	font-size:22px;
	font-weight:bold;
	color:#FFF;
}
.banner_text span
{
	font-family: 'LatoRegular';
	font-size:22px;
	font-weight:bold;
	color:#3498db;
}
.footer
{
	width:100%;
	height:auto;
	float:left;
	background-color:#34495e;
	padding:30px 0px;
}

.banner_text1
{
	font-family: 'LatoRegular';
	font-size: 50px;
	color: #FFF;
}
.copyright
{
	font-family: 'LatoRegular';
	font-size:15px;
	color:#FFF;
}
.banner_box_main
{
	width:100%;
	height:auto;
	float:left;
	background-color:#415366;
	border-radius:4px;
	padding:20px;
}
.banner_box_heading
{
	font-family: 'LatoRegular';
	font-size:32px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
}
.banner_box_text
{
	font-family: 'LatoRegular';
	font-size:14px;
	text-align:center;
	color:#FFF;
}
.banner_box_text1
{
	font-family: 'LatoRegular';
	font-size:14px;
	text-align:center;
	color:#000;
}
.page_heading
{
	font-family: 'LatoRegular';
	font-size:38px;
	font-weight:bold;
	color:#34495e;
}
.page_sub_heading
{
	font-family: 'LatoRegular';
	font-size:26px;
	color:#545454;
}

.margin_top30
{
	margin-top:30px;
}
.margin_bottom30
{
	margin-bottom:30px;
}
.icon
{
	width:100%;
	height:auto;
	float:left;
}
.contact_no a
{
	background-color: #3498db;
	padding:8px 30px;
	color:#fff;
	font-family: 'LatoRegular';
	font-size:25px;
	font-weight:bold;
	text-align: center;
	border-radius:35px;
	text-decoration:none;
}
.contact_no a:hover
{
	background-color: #52a7e0;
	padding:8px 30px;
	color:#fff;
	font-family: 'LatoRegular';
	font-size:25px;
	font-weight:bold;
	text-align: center;
	border-radius:35px;
	text-decoration:none;
}
.contact_no1 a
{
	background-color: #3498db;
	padding:8px 30px;
	color:#fff;
	font-family: 'LatoRegular';
	font-size:22px;
	font-weight:bold;
	text-align: center;
	border-radius:35px;
	text-decoration:none;
}
.contact_no a:hover
{
	background-color: #52a7e0;
	padding:8px 30px;
	color:#fff;
	font-family: 'LatoRegular';
	font-size:25px;
	font-weight:bold;
	text-align: center;
	border-radius:35px;
	text-decoration:none;
}
.contact_no1 a:hover
{
	background-color: #52a7e0;
	padding:8px 30px;
	color:#fff;
	font-family: 'LatoRegular';
	font-size:22px;
	font-weight:bold;
	text-align: center;
	border-radius:35px;
	text-decoration:none;
}
.phone_bg
{
	width:100%;
	height:auto;
	float:left;
	background-image: url(../images/moneyback.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding:60px 0px;
}
.icon img
{
	display:block;
	margin:0 auto;
}
.text_white
{
	font-family: 'LatoRegular';
	font-size:18px;
	color:#FFF;
	line-height:25px;
}
.sub_heading
{
	font-family: 'LatoRegular';
	font-size:28px;
	color:#34495e;
	font-weight:bold;
}
.text_black
{
	font-family: 'LatoRegular';
	font-size:18px;
	color:#545454;
	line-height:25px;
}
.text_black1
{
	font-family: 'LatoRegular';
	font-size:16px;
	color:#545454;
	line-height:25px;
}
.text_black2
{
	font-family: 'LatoRegular';
	font-size:12px;
	color:#545454;
	line-height:25px;
}
.grey_bg
{
	width:100%;
	height:auto;
	float:left;
	background-color:#f8f8f8;
}
.sub_heading1
{
	 color: #34495e;
    font-family: "Lato",sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.sub_heading2
{
	color: #34495e;
    font-family: "Lato",sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.margin_top60
{
	margin-top:60px;
}
.margin_bottom60
{
	margin-bottom:60px;
}
.box_main
{
	width:100%;
	height:auto;
	float:left;
	background-color:#FFF;
	border: solid 1px #ccc;
	padding:15px;
	border-radius:4px;
}
.footer_menu
{
	font-family: 'LatoRegular';
	font-size:15px;
	color:#FFF;
}
.footer_menu ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}
.footer_menu ul li
{
	display:inline;
	margin-right:15px
}
.footer_menu ul li a
{
	font-family: 'LatoRegular';
	font-size:15px;
	color:#FFF;
	text-decoration:none;
}
