<html>
    <head>
        <meta charset="utf-8"/>
        <title>Monitoring</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/ui.css">
        <script src="/static/js/jquery-1.12.4.js"></script>
        <script src="/static/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
        <script src="/static/js/sorttable.js"></script>
    </head>
    <body>
        <a href="/logout/">Logout</a>
        | <a href="/control_panel/?type=post_offer">Schedule</a>
        | <a href="/maintenance/">Maintenance</a>
        <div>
            <form action="/search_results/" method="POST" style="margin-left: 20%; width: 60%;">{% csrf_token %}
            <input type="text" name="zone_domain" id="zone_domain" placeholder="lead"/>    
            <input type="text" name="drop_domain" id="drop_domain" placeholder="drop"/>    
            <input type="text" name="email" id="email" placeholder="form email">                
            <input type="text" name="remail" id="remail" placeholder=" whois email">            
            <input type="submit" value="Search" />          
              </form>
              {% if search_leads %}
             <table border='1px solid' style="margin-left: 20%; width: 60%;">
                <thead>
                  <tr>
                    <th>
                      Lead
                    </th>
                    <th>
                      Drop
                    </th>                            
                    <th>
                      emails(form, whois)
                    </th>                        
                    <th>
                      hash
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for entry in search_leads %}
                  <tr>
                    <td>{{entry.lead}}</td>
                    <td>{{entry.drop}} </td>
                    <td>{{entry.email}}, {{entry.remail}}</td>                     
                    <th>
                      {{entry.hash_base_id}}
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>  
              </table>
                {% endif %}
        </div>
    </body>
</html>

